*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.left{
    font-size: 25px;
}
.left span{
    color: orange;
}
.right a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}
.right a:hover{
    text-decoration: underline;
    color: orange;
    transition: 0.5s;
    text-underline-offset: 5px;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image:url(images/hero.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: darken;

}
.hero-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.line{
    width: 70px;
    height: 2px;
    background-color: orange;
    text-align: center;
  
    
}
.hero-header{
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 50px;
    color: white;
    padding-right: 30px;
}
.sub-header{
    padding-top: 30px;
    color: white;
    padding-bottom: 40px;
    font-size: 18px;
}
.box{
    border: 2px solid orange;
    border-radius: 30px;
    padding: 15px 35px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.box:hover{
    background-color: orange;
}
.section{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    text-align: center;
    background-color: lightgray;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left-section{
    padding-top: 250px;
    
   
}
.section-header{
    font-size: 23px;
    font-weight: bold;
    text-align: justify;
    margin-left: 25px;
    padding-bottom: 15px;
}

.line2{
    width: 70px;
    height: 2px;
    background-color: orange;
    text-align: center;
    margin-left: 25px;
   

  
    
}
.section-subheader{
    text-align: justify;
    margin-left: 25px;
    padding-bottom: 20px;
    font-size: 14px;
    padding-top: 10px;
   
    
}
.right-section{
   background-color: white;
   width: 500px;
   height: 600px;
   margin-right: 75px;
   text-align: justify;
   padding-left: 20px;
   margin-top: 20px;
  
}
.get-header{
    text-align: justify;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 400px;
    border: 2px solid;
}
.email{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 400px;
    border: 2px solid;
}
.phone{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 400px;
    border: 2px solid;
}
.area{
    width: 400px;
    height: 200px;
}
.sub-text{
    font-size: 14px;
}
.orange-button{
    border: 2px solid orange;
    border-radius: 20px;
    width: 120px;
    height: 43px;
   margin-left: 130px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.service-header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.color-line{
    background-color: orange;
    width: 80px;
    height: 4px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.our-serve{
    font-weight: bold;
    font-size: 20px;
}
.services-sub{
    text-align: center;
    padding-top: 10px;
}
.cards{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: lightgray; */
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    margin: 40px;
}

.card{
    width: 300px;
    background-color: rgba(220, 220, 220, 0.548);
    padding: 20px;
}

.footer{

}